body {
  overflow-x: hidden;
}
.Home {
  height: 100vh;
  .name {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-70%, -60%) scale(9);
    margin: 0;
  }

  .square {
    width: 10rem;
    height: 10rem;
    position: absolute;
    background: grey;
    top: 90%;
    left: 80%;
    transform: translate(-90%, -80%);
    margin: 0;
  }

  @media screen and (max-width: 375px) {
    .square {
      width: 5rem;
      height: 5rem;
    }
    .slogan-container {
      margin-bottom: 2px;
      align-items: center;
    }
    .name {
      left: 60%;
      transform: translateX(-60%);
      transform: scale(2.5);
    }
  }

  @media screen and (max-width: 414px) {
    .square {
      width: 5rem;
      height: 5rem;
    }
    .slogan-container {
      align-items: center;
      margin-bottom: 1px;
    }
    .name {
      left: 55%;
      transform: translateX(-55%);
      transform: scale(2.5);
    }
  }
}

img {
  height: 100%;
  width: 100%;
}

#presentation {
  div#creative {
    img {
      width: 45%;
    }
  }

  div#curieux {
    position: absolute;
    z-index: 10;
    width: 500px;
    top: 135%;
    left: 35%;
  }

  h2#creative {
    color: grey;
    font-weight: bold;
    font-size: 80px;
    position: absolute;
    top: 120%;
    left: 40%;
    z-index: 100;
  }

  .text-wrapper {
    z-index: -1;
    position: absolute;
    top: 105%;
    right: 5%;
    width: 800px;
    font-size: 50px;
    height: 490px;
    #neil {
      position: relative;
      color: grey;
    }
    #age {
      position: relative;
      top: 25%;
      right: -50%;
    }
    #passion {
      position: relative;
      display: inline-block;
      top: 50%;
      right: -25%;
      width: 520px;
      height: 100px;
    }
  }
}

#skills {
  position: absolute;
  top: 200%;
  .skills-wrapper {
    .card {
      border: 2px solid red;
      img {
        height: 46px;
        width: 46px;
      }
    }
  }
}
